*{
    margin: 0;
    padding: 0;
}

.chat_maincontainer {
    height: 100vh;
    display: grid;
    grid-template-rows: 10vh 90vh;
}

.chat_topbar {
    background: hotpink;
}

.chat_containersm {
    display: grid;
    grid-template-columns: 28vw 72vw;
}

.chat_sidebar {
    border-right: 1px solid #eee;
    padding: 2em 2em;
    height: 78vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.chat_maincontent {
    height: 80vh;
}

/* https://www.geeksforgeeks.org/making-a-div-vertically-scrollable-using-css/ _
#:~:text=Making%20a%20div%20vertically%20scrollable%20is%20easy%20by%20using%20CSS,overflow%2Dy%3Aauto%3B. */
/* Making the scroll bars */

.chat_topbar_actionscontainer {
    width: 90vw;
    margin-left: 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.btn_home_chatPortal {
    border-radius: 10px;
    border: 1px solid black;
    background-color:black;
    color: hotpink;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .7rem;
    cursor: pointer;
}

.btn_home_chatPortal:hover {
    border-radius: 10px;
    border: 1px solid white;
    background-color:white;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    padding: .7rem;
    cursor: pointer;
}

.liveChat_heading {
    font-weight: bold;
    font-size: 1.3em;
}

.plus_container {
    margin-right: 2vw;
    padding: 1em;
}

.plus_container input{
    margin: 1vw;
}

.plus_container i{
    cursor: pointer;
}

.conversation_templatecontainer {
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.last_message_content {
    max-width: 17vw;
    font-weight: 100;
    margin-top: 1em;
}

.potentialUserConversationListContainerOuter{
    position: fixed;
    display: none;
    place-items: center;
    top: 0;
    width: 100vw;
    bottom: 0;
    background: rgb(0,0,0,.4);
}

.potentialUserConversationListContainerInner {
    background: white;
    width: 80vw;
    height: 60vh;
}

.receiver_name_banner{
    display: grid;
    place-items: center;
    height: 7vh;
    border-bottom: 1px solid #eee;
}

.message_content_container {
    padding: 2em 2em;
    height: 62vh;
    overflow-x: hidden; 
    overflow-y: auto; 
}

.message_templatecontainer {
    display: flex;
    position: relative;
    padding: 1em;
    border: 1px solid #eee;
    width: fit-content;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 2em 0em;
    max-width: 40vw;
}

.new_messagecontainer {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 5vh;
    max-width: 40vw;
    padding: 1em;
    border-radius: 10px;
    width: fit-content;
    border: 10x solid grey;
}

.submit-btn {
    border-radius: 20px;
    background-color:black;
    color: hotpink;
    font-size: 1rem;
    text-decoration: none;
    padding: .7rem;
    cursor: pointer;
    margin-left: 1em;
    align-items: center;
    justify-content: center;
}

.potential_conversationUser {
    display: flex;
    width: 20vw;
    justify-content: space-around;
    align-items: center;
}